default/flows/Compliance_Part_Activation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Check_Part_Is_Activated_or_not</name>
        <label>Check Part Is Activated or not</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>PartActivationScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Activated_Or_Not</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetPartRecord.compliancequest__Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PartActicated</targetReference>
            </connector>
            <label>Check Activated Or Not</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Compliance Part Activation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Compliance Part Activation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetPartRecord</name>
        <label>GetPartRecord</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Part_Is_Activated_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>compliancequest__SQX_Part__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdatePartRecord</name>
        <label>UpdatePartRecord</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <faultConnector>
            <targetReference>ErrorMessageScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>compliancequest__Active__c</field>
            <value>
                <elementReference>Part_Activation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>compliancequest__Reason_For_Change__c</field>
            <value>
                <elementReference>Reason_For_Change</elementReference>
            </value>
        </inputAssignments>
        <object>compliancequest__SQX_Part__c</object>
    </recordUpdates>
    <screens>
        <name>ErrorMessageScreen</name>
        <label>ErrorMessageScreen</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(228, 18, 18);&quot;&gt;You Don&apos;t Have Permission To Activate a Part&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PartActicated</name>
        <label>PartActicated</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayText01</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(3, 254, 41);&quot;&gt;Part Has Been Already Activated..&lt;/span&gt;&lt;span style=&quot;color: rgb(57, 253, 2);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PartActivationScreen</name>
        <label>PartActivationScreen</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UpdatePartRecord</targetReference>
        </connector>
        <fields>
            <name>Part_Activation</name>
            <dataType>Boolean</dataType>
            <fieldText>Activate Part</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Reason_For_Change</name>
            <fieldText>Reason For Change</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetPartRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
